.desks-and-menu {
  /* display: flex; */
}

.gear {
  display: flex;
  align-items: flex-start;
}

.gear img {
  width: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

.gear .clock{
  transform-origin: center;
  transform: rotate(45deg);
  transition: transform 450ms ease;
}

.gear .counterclock{
  transform-origin: center;
  transform: rotate(-45deg);
  transition: transform 450ms ease;
}

.gear-menu {
  background-color: rgb(101, 104, 112);
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  height: auto;
  max-height: 0px;
  transition: max-height 800ms ease;
  overflow-y: hidden;
  border-radius: 5px;
  color: white;
}

.gear-menu.slide {
  display: block;
  max-height: 300px;
}

.gear-menu .gear-title {
  padding: 5px;
  text-align: center;
  background-color: rgb(81, 84, 92);
  margin: 0 auto;
}

.gear-menu .options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  flex-wrap: wrap;
}

.gear-menu select {
  font-size: 15px;
  margin: 0 5px;
}

.gear-menu select:focus {
  outline: none;
}

.gear-menu .gear-option {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gear-menu .gear-option .label {
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin-bottom: 5px;
}

.gear-menu .options div {
  margin-bottom: 20px;
}

.gear-menu .other-options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;

  padding-bottom: 15px;
  /* background-color: rgb(81, 84, 92); */
}

.gear-menu .other-options input[type=checkbox]{
  margin-left: 10px;
}

.gear-menu .other-options .academic {
  /* color: green; */
  color: white;
}

.gear-menu .other-options .behavior {
  /* color: red; */
  color: white;
}

.gear-menu .options .generate-button-div{
  /* width: 100%; */
}

.gear-menu .options button {
  margin: 0 10px;
  background-color: rgb(81, 84, 92);
  color: white;
  text-shadow: none;
}

.gear-menu .options button:hover {
  background-color: rgb(81, 84, 92);
  color: white;
  text-shadow: none;
}

.gear-menu .options button.loading.little {
  pointer-events: none;
  background-color: gray;
}



@media screen and (max-width: 600px){
  .gear-menu {
    margin-top: -10px;
  }
}

@media screen and (max-height: 450px), (max-width: 500px){
  .gear-menu {
    position: relative;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 450px) and (orientation: portrait){
  .gear-menu {
    margin-bottom: -10px;
  }
}
