.student-index-row.student-form {
  background-color: #FFFFBF;
}

.student-form input[type=text] {
  align-self: center;
  width: 90px;
  padding: 4px 8px;
  font-size: 16px;

}

.student-form select {
  display: block;
  margin: 0 auto;
  align-self: center;
  width: 50px;
  padding: 4px 8px;
  font-size: 16px;
  margin-top: 3px;
}

.student-form .myButton {
  margin-top: 2px;
}

.student-form button {
  height: 25px;
  width: 60px;

}
