.student-index-wrapper {
  border: 1px solid black;
  width: 90vw;
  max-width: 610px;
}

.student-index-wrapper > div:nth-child(2n+3) {
  background-color: lightgray;
}

.student-index-row.header{
  background-color: grey;
  color: white;
  font-weight: bold;
}

.student-index-row {
  display: flex;
  flex-wrap: wrap;
}

.student-index-row div {
  margin: 20px 10px;
  width: 100px;
}

.student-index-row div:last-child {
  width: 110px;
}

.scores {
  text-align: center;
}


.student-index-row .student-edit-buttons {
  display: flex;
}

.student-edit-buttons button {
  margin: 0 2px;
}
