.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.desks-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.pair-desks-container {
  display: grid;
  grid-template-columns: repeat(4, 102px 102px 40px);
  grid-template-rows: repeat(4, 120px);
}

.group-desks-container {
  display: grid;
  grid-template-columns: repeat(4, 102px 102px 40px);
  grid-template-rows: repeat(2, 72px 121px);
}

.desk-drop-area {
  height: min-content;
}


.desk {
  width: 100px;
  height: 70px;
  text-align: center;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #f6f6f6;
  background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
  box-shadow: 0.5px 1px 2px #888888;
  display: grid;
  grid-template-rows: 5px 65px;
}

#preview.desk {
  box-shadow: none;
}

.desk .desk-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}

.desk .groove {
  background-color: darkgray;
  height: 2px;
  width: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 4px;
}

.desk.dragging .groove {
  background-color: lightgray;
  opacity: 0.7;

}

.desk div {
  width: 100%;
}

.desk.dragging {
  border-color: lightgray;
  color: lightgray;
  background: none;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0.5px 1px 2px lightgray;
}

.desk span {
  font-weight: lighter;
  margin: 0 10px;
  font-size: 12px;
}

.desk .behavior-score {
  color: red;
}

.desk .academic-score {
  color: green;
}

.desk.dragging span {
  color: lightgray;
}

.desk.empty {
  background: none;
  border: 1px solid lightgray;
  background-color: white;
  box-shadow: none;
}

.desk.hover {
  background: none;
  background-color: rgb(255, 254, 194);
}

@media screen and (max-width: 1000px){
  .desk {
    /* width: 100px;
    height: 70px; */
    width: 80px;
    height: 56px;
    font-size: 14px;
    border-radius: 8px;
    grid-template-rows: 5px 43px;
  }

  .desk .groove {
    margin-top: 3px;
    width: 40px;
  }

  #preview.desk {
    box-shadow: none;
  }

  .desk .last-name {
    display: none;
  }

  .pair-desks-container {
    grid-template-columns: repeat(4, 82px 82px 30px);
    grid-template-rows: repeat(4, 120px);
  }

  .group-desks-container {
    grid-template-columns: repeat(4, 82px 82px 30px);
    grid-template-rows: repeat(2, 58px 121px);
  }
}

@media screen and (max-width: 800px){
  .desk .last-name {
    display: none;
  }

  .desk .ratings {
    font-size: 10px;
    /* display: none; */
  }

  .desk {
    font-size: 12px;
    width: 60px;
    height: 46px;
    border-radius: 6px;
    grid-template-rows: 2px 41px;
  }

  .desk .groove {
    margin-top: 2px;
    width: 30px;
    height: 2px;
  }

  .pair-desks-container {
    grid-template-columns: repeat(4, 62px 62px 22px);
    grid-template-rows: repeat(4, 120px);
  }

  .group-desks-container {
    grid-template-columns: repeat(4, 62px 62px 22px);
    grid-template-rows: repeat(2, 48px 121px);
  }
}

@media screen and (max-width: 600px){

  .desk {
    font-size: 12px;
    width: 50px;
    height: 38px;
    border-radius: 5px;
    grid-template-rows: 2px 36px;
  }

  .desk .groove {
    margin-top: 2px;
    width: 25px;
    height: 2px;
  }

  .pair-desks-container {
    grid-template-columns: repeat(4, 52px 52px 15px);
    grid-template-rows: repeat(4, 120px);
  }

  .group-desks-container {
    grid-template-columns: repeat(4, 52px 52px 15px);
    grid-template-rows: repeat(2, 40px 121px);
  }

  .desk .ratings {
    font-size: 10px;
    /* display: none; */
  }
}

@media screen and (max-width: 500px) and (orientation: portrait){
  .desks-wrapper {
    display: block;
    width: 100vw + 20px;
    overflow-x: scroll;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-height: 590px){
  .pair-desks-container {
    grid-template-rows: repeat(4, 80px);
  }

  .desks-wrapper {
    padding-top: 0px;
    height: 65vh;
  }


}

@media screen and (max-height: 450px){
  .pair-desks-container {
    grid-template-rows: repeat(4, 60px);
  }

  .group-desks-container {
    padding-top: 20px;
    grid-template-rows: repeat(2, 48px 80px);
  }
}
