.pair-desks-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 102px 102px 40px);
  grid-template-rows: repeat(4, 120px);
}

.group-desks-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 102px 102px 40px);
  grid-template-rows: repeat(4, 72px 121px);
}

.desk {
  border: 1px solid black;
  width: 100px;
  height: 70px;
  text-align: center;
  font-weight: 400;
  border-radius: 10px;
  background-color: rgb(225, 217, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.desk div {
  width: 100%;
}

@media screen and (max-width: 1000px){
  .desk {
    width: 80px;
    height: 48px;
    font-size: 14px;
  }

  .desk .ratings {
    display: none;
  }

  .pair-desks-container {
    grid-template-columns: repeat(4, 82px 82px 30px);
    grid-template-rows: repeat(4, 120px);
  }

  .group-desks-container {
    grid-template-columns: repeat(4, 82px 82px 30px);
    grid-template-rows: repeat(4, 50px 121px);
  }
}

@media screen and (max-width: 800px){
  .desk .last-name {
    display: none;
  }

  .desk .ratings {
    display: none;
  }

  .desk {
    font-size: 12px;
    width: 60px;
    height: 46px;
    border-radius: 5px;
  }

  .pair-desks-container {
    grid-template-columns: repeat(4, 62px 62px 22px);
    grid-template-rows: repeat(4, 120px);
  }

  .group-desks-container {
    grid-template-columns: repeat(4, 62px 62px 22px);
    grid-template-rows: repeat(4, 48px 121px);
  }
}

@media screen and (max-width: 600px){
  .desk {
    font-size: 12px;
    width: 50px;
    height: 38px;
    border-radius: 5px;
  }

  .pair-desks-container {
    grid-template-columns: repeat(4, 52px 52px 15px);
    grid-template-rows: repeat(4, 120px);
  }

  .group-desks-container {
    grid-template-columns: repeat(4, 52px 52px 15px);
    grid-template-rows: repeat(4, 40px 121px);
  }
}

.desk.empty {
  border-color: lightgray;
  background-color: white;
}

.desk.hover {
  background-color: rgb(255, 254, 194);
}

.desk.dragging {
  border-color: lightgray;
  color: lightgray;
  background-color: white;
  opacity: 1;
}

.desk span {
  font-weight: lighter;
  margin: 0 10px;
  font-size: 12px;
}

.desk .behavior-score {
  color: red;
}

.desk .academic-score {
  color: green;
}

.desk.dragging span {
  color: lightgray;
}
