/* .group-seating-wrapper {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 200px 200px;
}

.group {
  display: flex;
  flex-wrap: wrap;
  width: 244px;
  height: 164px;
  border: 3px gray dashed;
}

.group-desk {
  padding: 20px;
  border: 1px solid black;
  width: 80px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
} */
