.navbar-wrapper {
  display: flex;
  /* background-color: gray; */
  background-color: rgb(125, 166, 200);
  padding: 10px;
  align-items: center;
}

.navbar-wrapper > div {
  margin: 0 10px;
}

.navbar-wrapper a {
  text-decoration: none;
  color: black;
}

.navbar-wrapper a:hover {
  color: lightgray;
}

.navbar-wrapper .title {
  font-size: 24px;
}
